infra/n8n/workflows/WF6_Marketplace_Sync.json
{
    "name": "WF6 - Marketplace Sync (Tokopedia)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 6
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                200,
                300
            ],
            "name": "Sync Harian (06:00)"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT b.sku, b.title, a.name as author, b.base_price FROM books b JOIN authors a ON b.author_id = a.author_id WHERE b.updated_at > NOW() - INTERVAL '24 hours' OR b.updated_at IS NULL LIMIT 50;"
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                400,
                300
            ],
            "name": "DB: Get Updates",
            "credentials": {
                "postgres": {
                    "id": "9t1jqUpfC9jdWjjS"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst summary = items.slice(0, 5).map(i => `- ${i.json.title} (Rp ${i.json.base_price})`).join('\\n');\nreturn [{ json: { total: items.length, summary: summary || 'No updates.' } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                300
            ],
            "name": "Compile Report"
        },
        {
            "parameters": {
                "resource": "Chatting",
                "operation": "Send Text",
                "chatId": "6285119467138@c.us",
                "text": "🔄 *MARKETPLACE SYNC*\n\nTotal Produk Update: {{ $json.total }}\n\n{{ $json.summary }}\n\nSilakan cek seller center.",
                "requestOptions": {}
            },
            "type": "@devlikeapro/n8n-nodes-waha.WAHA",
            "typeVersion": 202502,
            "position": [
                800,
                300
            ],
            "name": "WA: Sync Report",
            "credentials": {
                "wahaApi": {
                    "id": "PIacUGMEHqjAT46z"
                }
            }
        }
    ],
    "connections": {
        "Sync Harian (06:00)": {
            "main": [
                [
                    {
                        "node": "DB: Get Updates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DB: Get Updates": {
            "main": [
                [
                    {
                        "node": "Compile Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compile Report": {
            "main": [
                [
                    {
                        "node": "WA: Sync Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}